<head>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/jquery.sortable/jquery.sortable.min.js"></script>
	<script src="/bower_components/d3/d3.min.js"></script>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8">
	<script src="js/script.js" charset="utf-8"></script>
	<title>Be Tabulous</title>
</head>