.sidebar{
	position: absolute;
	width: 300px;
	background-color: $sidebar_gray;
	right: -300px;
	height: 100%;
	z-index: 2;
	transition: all .4s ease-in-out;
	&.reveal{
		right: 0;
	}

	&__header{
		position: relative;
		width: 100%;
		margin-top: $header_height/2;
		margin-bottom: 58px;
		h1{
			font-size: 20px;
			font-weight: 600;
			color: #26465B;
			margin-left: 59px;
			font-family: "Lubalin Demi for IBM";
		}
	}

	&__report-gen{
		position: absolute;
	    width: 16px;
	    height: 16px;
	    right: 35px;
	    background-position: center center;
	    background-size: contain;
	    top: -1px;
		background-image: url('../icons/exportReport1x.png');
		@include mq(retina){
			background-image: url('../icons/exportReport2x.png');
		}
	}
	
	.tasks{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		&__labels{
			position: relative;
			margin-bottom: 10px;
			padding-right: 24px;
			display: flex;
			justify-content: space-between;
			span{
				font-size: 14px;
			    color: rgba(120, 120, 120, .4);
			    font-weight: 300;
			}
		}
		
		&__list{
			position: relative;
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			padding: 10px 0 10px 0;
			.tasks__priority{
				display: none;
				position: absolute;
				left: 14px;
				width: 18px;
				top: 0;
				bottom: 0;
				&--top{
					position: absolute;
					width: 16px;
					height: 16px;
					top: 29px;
					left: -7px;
					background-position: center center;
					background-size: contain;
					background-image: url('../icons/oval1x.png');
					@include mq(retina){
						background-image: url('../icons/oval3x.png');
					}
				}
				&--bottom{
					position: absolute;
					width: 15px;
				    height: 15px;
				    left: -7px;
				    bottom: 44px;
					background-position: center center;
					background-size: contain;
					background-image: url('../icons/triangle1x.png');
					@include mq(retina){
						background-image: url('../icons/triangle3x.png');
					}
				}
				&--line{
					position: absolute;
					top: 42px;
					bottom: 57px;
					width: 0;
					border: 1px solid #e5e5e5;
				}
				
			}
			li{
				display: block;
			    box-sizing: border-box;
			    width: 100%;
			    float: right;
			    height: 50px;
			    background-color: white;
			    margin-bottom: 15px;
			    line-height: 50px;
			    padding-left: 10px;
			    padding-right: 10px;
			    border: 1px solid #f6f6f6;
				box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .02);
				.task_item_name{
					position: relative;
				    float: left;
				    width: 75%;
				    font-weight: 300;
				    color: #676767;
				    font-size: 14px;
				}
				.task_item_tabs{
					position: relative;
				    float: left;
				    width: 25%;
				    height: 50px;
					.task_item_datum{
						position: absolute;
					    text-align: center;
					    height: 59px;
					    width: 59px;
					    right: 0px;
					    top: -5px;
					    margin-left: auto;
					    margin-right: auto;
					    background-repeat: no-repeat;
					    background-size: contain;
					    background-position: center center;
					    overflow: visible;
					    font-weight: 700;
					    color: white;
					    font-size: 16px;
					    line-height: 59px;
					    font-family: "Lubalin Demi for IBM";
					}
					
					.green{
						background-image: url('../icons/green2x.png');
						@include mq(retina){
							background-image: url('../icons/green3x.png');
						}
					}
					
					.orange{
						background-image: url('../icons/orange2x.png');
						@include mq(retina){
							background-image: url('../icons/orange3x.png');
						}
					}
					
					.red{
						background-image: url('../icons/red2x.png');
						@include mq(retina){
							background-image: url('../icons/red3x.png');
						}
					}
					
				}
				
			}
		}
		
	}
	#sidebar_upload{
		position: absolute;
		height: 100px;
		background: white;
		width: 100%;
		bottom: 0;
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		background-image: url('../icons/uploadButton1x.png');
		@include mq(retina){
			background-image: url('../icons/uploadButton2x.png');
		}
		
	}
	
}